{
    "env": {
        "jest": true
    },
    "extends": [
        "./src/dev/eslint-config",
        "plugin:storybook/recommended",
        "plugin:cypress/recommended"
    ],
    "rules": {
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": "warn"
    }
}