image: atlassian/default-image:3
pipelines:
  branches:
    trunk:
      - step:
          name: Build and Test
          script:
            - npm i
            - npm test
            - npm run build
          artifacts:
            - dist/**
      - step:
          name: Publish
          deployment: production
          script:
            - npm i -g standard-version
            - npm run release
            - git push --follow-tags origin trunk
            - pipe: atlassian/npm-publish:0.2.0
              variables:
                NPM_TOKEN: $NPM_TOKEN
