image: node:10.16.0
pipelines:
  branches:
    trunk:
      - step:
        name: Build and Test
        script:
          - yarn
          - yarn build
        artifacts:
          - dist/**
      - step:
        name: Publish
        deployment: production
        script:
          - yarn global add standard-version
          - yarn release
          - git push --follow-tags origin trunk
          - pipe: atlassian/npm-publish:0.2.0
            variables:
              NPM_TOKEN: $NPM_TOKEN
