image: node:lts-alpine
pipelines:
  branches:
    trunk:
      - step:
          name: Build and Test
          script:
            - npm i
            - npm run build
          artifacts:
            - dist/**
      - step:
          name: Publish
          deployment: production
          script:
            - npx standard-version
            - git push --follow-tags origin trunk
            - pipe: atlassian/npm-publish:0.2.0
              variables:
                NPM_TOKEN: $NPM_TOKEN
